@media screen and (max-width: 995px) {
    /* .first{
        margin-left: 10px;
    }
    .scnd{
        margin-right: 10px;
    } */
    /* .navs{
        display: none;
    } */
    /* .tog-bar{
        display: block;
    }
     */
}